@media (max-width: 1024px) {
    .hero {
        padding: 150px 0;
    }
    .hero__title {
        font-size: 48px;
    }
    .hero__subtitle {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 30px 0;
    }
    .hero {
        padding: 100px 0;
    }
    .hero__title {
        font-size: 38px;
    }
    .hero__subtitle {
        font-size: 16px;
    }
    .about {
        padding: 0;
    }
    .about__title, .reviews__title {
        font-size: 40px;
    }
    .about__article-preview {
        font-size: 14px;
    }
    .about__image {
        width: 450px;
        height: 450px;
    }
    .reviews__review-card {
        padding: 30px;
    }
    .footer {
        padding: 30px 0;
    }
}

@media (max-width: 568px) {
    .header__nav,
    .header__button {
        display: none;
    }
    .header__menu-btn {
        display: block;
    }
    .header {
        padding: 15px 0;
    }
    .hero {
        padding: 50px 0;
    }
    .hero__title {
        font-size: 30px;
    }
    .hero__subtitle {
        font-size: 14px;
    }
    .about {
        padding: 30px;
        flex-direction: column;
    }
    .about__content {
        margin-bottom: 10px;
        width: 90%;
    }
    .about__articles {
        justify-content: space-around;
    }
    .about__article {
        margin: 0 10px;
    }
    .about__title {
        font-size: 26px;
    }
    .about__article-preview {
        font-size: 12px;
    }
    .about__image {
        width: 300px;
        height: 300px;
    }
    .service {
        flex-direction: column;
    }
    .service__article {
        width: 90%;
        margin-bottom: 30px;
    }
    .service__title {
        font-size: 26px;
    }
    .service__article-text {
        font-size: 14px;
    }
    .service__item {
        margin-left: 0;
        font-size: 20px;
    }
    .showcase {
        padding: 30px 0;
        flex-direction: column;
    }
    .showcase__article {
        width: 90%;
    }
    .showcase__text {
        font-size: 14px;
        margin-bottom: 1em;
    }
    .showcase__image-left, .showcase__image-center, .showcase__image-right {
        margin: 10px 0;
    }
    .reviews__title {
        font-size: 30px;
        width: 90%;
    }
    .reviews__content {
        flex-direction: column;
        align-items: center;
    }
    .reviews__text, .reviews__forename, .reviews__position {
        font-size: 14px;
    }
}