/* ------------------Base Styles------------------*/
body {
    font-family: 'Nunito Sans', sans-serif;
    background: #EDEDED;
}
.wraper {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ------------------Header Styles------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}
.header__logo {
    width: 161px;
    height: 80px;
    background: no-repeat left/contain url("../assets/icons/logo.png");
}
.header__nav {
    margin: 0 10px;
    font-size: 16px;
}
.header__link {
    margin: 0 5px;
    line-height: 150%;
}
.header__button {
    width: 161px;
    padding: 11px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #423F3E;
    border-radius: 5px;
}
.header__menu-btn {
    display: none;
}
/* ------------------Hero Styles------------------*/
.hero {
    padding: 200px 0 ;
}
.hero__content {
    width: 80%;
    margin: 0 auto;
}
.hero__title {
    margin-bottom: 0.6em;
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    line-height: 120%;
}
.hero__subtitle {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 120%;
}
/* ------------------About Styles------------------*/
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
.about__content {
    width: 50%;
    margin-right: 15px;
}
.about__title {
    margin-bottom: 1.2em;
    font-size: 53px;
    font-weight: bold;
    line-height: 120%;
}
.about__articles {
    display: flex;
}
.about__article {
    width: 266px;
    margin: 0 5px;
}
.about__article-preview {
    margin-bottom: 1.2em;
    font-size: 16px;
    line-height: 150%;
}
.about__link {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}
.about__image {
    width: 534px;
    height: 534px;
    background: no-repeat center/contain url(../assets/images/about-dog.jpg);   
}
/* ------------------Service Styles------------------*/
.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.service__article {
    width: 45%;
}
.service__title {
    margin-bottom: 0.8em;
    font-size: 39px;
    font-weight: bold;
    line-height: 120%;
}
.service__article-text {
    font-size: 18px;
    line-height: 150%;
}
.service__list {
    columns: 2;
    column-fill: balance;
}
.service__item {
    min-width: 100%;
    margin-left: 70px;
    font-size: 31px;
    font-weight: bold;
    line-height: 135%;
}
/* ------------------Showcase Styles------------------*/
.showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  80px 0;
}
.showcase__article {
    width: 272px;
    text-align: left;
}
.showcase__title {
    margin-bottom: 1em;
    font-size: 25px;
    font-weight: bold;
    line-height: 135%;
}
.showcase__text {
    margin-bottom: 1em;
    font-size: 16px;
    line-height: 150%;
}
.showcase__gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.showcase__image-container {
    width: 240px;
    height: 214px;
    margin: 10px 10px;
}
.showcase__image { 
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
#img-1 {
    object-position: 0 -60px;
}
/* ------------------Reviews Styles------------------*/
.reviews {
    padding: 35px 0; 
}
.reviews__title {
    margin-bottom: 1.2em;
    font-size: 53px;
    text-align: center;
    font-weight: bold;
    line-height: 120%;
}
.reviews__content {
    display: flex;
    justify-content: space-around;
}
.reviews__review-card {
    max-width: 434px;
    padding: 55px;
    margin: 15px 20px 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(57, 40, 166, 0.15);
}
.reviews__text {
    max-width: 418px;
    margin-bottom: 1.1em;
    font-size: 18px;
    line-height: 140%;
}
.reviews__forename {
    font-size: 18px;
    font-weight: bold;
    line-height: 175%;
}
.reviews__position {
    font-size: 16px;
    line-height: 150%;
}
/* ------------------Footer Styles------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.footer__figma-logo {
    width: 81px;
    height: 116px;
}
.footer__contacts {
    width: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__social-network {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
